@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&family=Bungee&display=swap');




#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.bklist{
  margin-top: 2rem;
  text-align: left;
}

.title{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, sans-serif;
  font-size: 105px;
  color: white;
  margin-bottom: 1rem;
  text-align: center;
}

@keyframes title {
  0% {
    text-shadow: 0 0 0 black;
  }
  25% {
    text-shadow: 0 0 5px white, 0 0 10px white;
  }

  50% {
    text-shadow: 0 0 5px white, 0 0 10px white;
  }
  100% {
    text-shadow: 0 0 5px #fff;
  }
}

.title {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  animation: title 5s infinite ease;
}

.link {
  font-size: 55px;
  color: white;
  font-family: bungee, sans-serif;
 }

.delete-button{
  display: inline; 
  margin-left: 1rem;
  color: red;
  background-color: transparent;
}

input {
  font-size: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border-radius: 5px;
  border: none;
  background-color: #6200ee;
  color: white;
  cursor: pointer;;
}

button:hover {
  background-color: #3700b3;
  box-shadow: 0 0 10px #6200ee;
  animation: ease button 3s infinite;
}

@keyframes button {
  25% {
    box-shadow: 0 0 5px #3700b3;
  }
  50% {
    box-shadow: 0 0 20px #3700b3;
  }
  100% {
    box-shadow: 0 0 5px #3700b3;
  }
}

delete-form:hover {
  background-color: #ba000d;
  box-shadow: 0 0 10px #ba000d;
  animation: ease-in delete-form 3s infinite;
}

@keyframes delete-form {
  0% {
    box-shadow: 0 0 5px red;
  }
  50% {
    box-shadow: 0 0 20px red;
  }
  100% {
    box-shadow: 0 0 5px red;
  }
}